@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

header {
  background-color: #111111;
  padding: 5px;
  position: relative;
  margin-top: 0px;
  height: 80px;
  display: flex;
  align-items: center;
}

/* ========== ADMIN HEADER ========== */

.adminHeader img {
  margin-left: 310px;
  margin-right: 100px;
}

.adminHeader a + a {
  margin-left: 32px;
}

.adminHeader a {
  text-decoration: none;
  color: #fff;
  position: relative;
  transition: 300ms;
}

.adminHeader a:hover{
  filter: brightness(0.6);
}

.adminHeader a.active {
  font-weight: 700;
  color: #999;
}

/* ========== TOP ========== */

.top { 
  size: 24px;
  margin-left: 310px;
  margin-top: 40px;
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.top a {
  font-size: 14px;
  text-align: center;
  background-color: #6558C3;
  color: #fff;
  padding: 8px;
  height: 20px;
  width: 116px;
  margin-left: 32px;
  border-radius: 4px;
  text-decoration: none;
}

.top a:hover {
  background-color: #796ae7;
  transition: 500ms;
}

.top form {
  height: 70px;
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: 64px 1fr 16px / 1fr;
}

.top input {
  padding-left: 8px;
  border: 1px solid #dad8d8;
  border-radius: 4px;
  height: 24px;
  width: 200px;
}

.top button {
  font-size: 12px;
  text-align: center;
  background-color: #6558C3;
  color: #fff;
  margin-top: 8px;
  padding: 4px;
  height: 24px;
  width: 75px;
  border-radius: 4px;
}

/* ========== CREATE ========== */

.details h2 {
  margin-left: 310px;
  margin-top: 40px;
  margin-bottom: 24px;
}

/* ========== FIELDS ========== */

.item {
  margin-left: 310px;
  font-weight: bold;
}

.item input,
select {
  font-size: 14px;
  padding-left: 8px;
  border: 1px solid #dad8d8;
  border-radius: 4px;
  height: 32px;
  width: 900px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.item select {
  width: 910px;
}

.item input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.item textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #dad8d8;
  border-radius: 4px;
  height: 300px;
  width: 892px;
  margin-top: 8px;
  margin-bottom: 24px;
  resize: none;
}

.item textarea::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#fieldIngredients {
  margin-left: 310px;
  font-weight: bold;
}

#fieldIngredients input {
  padding-left: 8px;
  border: 1px solid #dad8d8;
  border-radius: 4px;
  height: 32px;
  width: 900px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#fieldIngredients input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#fieldPreparations {
  margin-left: 310px;
  font-weight: bold;
}

#fieldPreparations input {
  padding-left: 8px;
  border: 1px solid #dad8d8;
  border-radius: 4px;
  height: 32px;
  width: 900px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#fieldPreparations input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.add-ingredient {
  color: #6558C3;
  background-color: #fff;
  margin-bottom: 24px;
  font-weight: bold;
  text-decoration: none;
}

.add-ingredient:hover {
  cursor: pointer;
  color: #796ae7;
  transition: 500ms;
}

.add-preparation {
  color: #6558C3;
  background-color: #fff;
  margin-bottom: 24px;
  font-weight: bold;
  text-decoration: none;
}

.add-preparation:hover {
  cursor: pointer;
  color: #796ae7;
  transition: 500ms;
}

/* ========== RECIPE CARDS ========== */

.RecipeCards {
  max-width: 1000px;
  margin: 5vh auto;
  height: 60%;
  width: 60%;
  margin-top: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  position: relative;
}

.RecipeCard {
  max-width: 1000px;
  height: 85%;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
}

.RecipeCard__image-container img {
  height: 80px;
  width: 172px;
  border-radius: 12px;
}

.RecipeCard__content {
  text-align: left;
  font-size: 16px;
}

.RecipeCard__info {
  text-align: left;
  font-size: 12px;
  color: #505050;
  margin-top: 4px;
  margin-bottom: 16px;
}

.RecipeCard a {
  background-color: #111111;
  color: #fff;
  font-size: 12px;
  padding: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.RecipeCard a:hover {
  font-weight: bold;
  background-color: #6558C3;
  transition: 300ms;
}

/* ========== CHEF CARDS ========== */

.chefCards {
  max-width: 1000px;
  margin: 5vh auto;
  height: 60%;
  width: 60%;
  margin-top: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  position: relative;
}

.chefCard {
  display: flex;
}

.chefCard__image-container img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.chefCard_info {
  margin-top: 8px;
  margin-left: 8px;
}

.chefCard_info a {
  font-size: 14px;
  color: #6558C3;
  background-color: #fff;
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: bold;
  text-decoration: none;
}
  
.chefCard_info a:hover {
  cursor: pointer;
  color: #796ae7;
  transition: 500ms;
}

/* ========== PAGE RECIPE ========== */

.recipeTop {
  size: 24px;
  width: 1100px;
  margin-left: 310px;
  margin-top: 40px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4px;
}

.recipeTop a {
  font-size: 14px;
  text-align: center;
  background-color: #6558C3;
  color: #fff;
  padding: 8px;
  height: 20px;
  width: 116px;
  margin-left: 32px;
  border-radius: 4px;
  text-decoration: none;
}

.recipeTop a:hover {
  background-color: #796ae7;
  transition: 500ms;
}

.recipe__image img {
  width: 900px;
  height: 300px;
  margin-left: 310px;
  margin-top: 24px;
  border-radius: 12px;
}

.textInfo {
  text-align: center;
  font-size: 24px;
  margin-top: 32px;
}

.textInfo p {
  color: #505050;
  font-size: 16px;
  margin-bottom: 50px;
}

.block {
  margin-left: 310px;
}

.block h2 {
  padding-bottom: 16px;
}

.description {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
  color: #505050;
  width: 900px;
}

#ingredients li {
  margin-left: 20px;
}

#preparation li {
  margin-left: 20px;
}

#information p {
  text-align: justify;
}

/* ========== PAGE CHEF ========== */

.chefTop {
  size: 24px;
  width: 1100px;
  margin-left: 310px;
  margin-top: 40px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4px;
}

.chefTop a {
  font-size: 14px;
  text-align: center;
  background-color: #6558C3;
  color: #fff;
  padding: 8px;
  height: 20px;
  width: 116px;
  margin-left: 32px;
  border-radius: 4px;
  text-decoration: none;
}

.chefTop a:hover {
  background-color: #796ae7;
  transition: 500ms;
}

.chef__image img {
  width: 200px;
  height: 200px;
  margin-left: 43%;
  border-radius: 50%;
} 

.blockrecipes {
  margin-left: 310px;
}

.blockrecipes h2 {
  margin-bottom: 24px;
}

/* ========== BUTTONS ========== */

button {
  margin-left: 310px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  width: 0px;
  margin-left: 0px;
  transition: 500ms;
}

.buttons:hover {
  background: #796ae7;
}

.save {
  position: absolute;
  font-size: 14px;
  text-align: center;
  background-color: #6558C3;
  color: #fff;
  padding: 8px;
  height: 32px;
  width: 116px;
  align-items: center;
  border-radius: 4px;
}

.save:hover {
  cursor: pointer;
  background-color: #796ae7;
  transition: 500ms;
}

.button-delete {
  font-size: 14px;
  text-align: center;
  background-color: #DC4747;
  color: #fff;
  margin-left: 435px;
  padding: 8px;
  height: 32px;
  width: 116px;
  align-items: center;
  border-radius: 4px;
}

.button-delete:hover {
  cursor: pointer;
  background-color: #f05555;
  transition: 500ms;
}

/* ========== PAGINATION ========== */

.pagination {
  margin-top: 24px;
  font-weight: 500;
  text-align: center;
}

.pagination a,
.pagination span {
  color: #111111;
  text-decoration: none;
  margin-right: 8px;
}

.pagination a:hover {
  filter: brightness(0.6);
}

.pagination a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #111111;
  position: absolute;
  left: 0;
  bottom: -4px;
}

.pagination a:hover::after {
  content: "";
  width: 100%;
  transition: width 500ms ease-in-out 200ms;
}

/* ========== FOOTER ========== */

.msg footer {
  margin-top: 32px;
  background-color: #dad8d8;
  bottom: 0;
  width: 100%;
  color: #505050;
}

.msg p {
  text-align: center;
  padding: 15px;
}
