@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

header {
  padding: 5px;
  position: relative;
  margin-top: 18px;
  margin-bottom: 64px;
  height: 50px;
  display: flex;
  align-items: center;
}

/* ========== LINKS ========== */

.links.admin {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 20px;
}

.links a + a {
  margin-left: 20px;
}

.links a {
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
  text-decoration: none;
}

.links a.active {
  font-weight: bold;
}

.links a:hover {
  cursor: pointer;
  transition: 300ms;
}

.links img {
  margin-left: 310px;
  margin-right: 50px;
}

/* ========== FILTER ========== */

form {
  height: 70px;
  margin-top: 26px;
  margin-left: 46px;
}

input {
  font-size: 14px;
  padding-left: 8px;
  border: 1px solid #dad8d8;
  border-radius: 6px;
  height: 37px;
  width: 246px;
}

button {
  font-size: 16px;
  text-align: center;
  background-color: #6558C3;
  color: #fff;
  margin-left: 8px;
  margin-top: 8px;
  padding: 4px;
  height: 37px;
  width: 91px;
  border-radius: 6px;
}

button:hover {
  cursor: pointer;
  background-color: #796ae7;
  transition: 500ms;
}

/* ========== ADMIN ========== */

.admin {
  padding-left: 220px;
  margin-top: 4px;
}

.admin a {
  color: #fff;
  background-color: #111111;
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
}

.admin a:hover {
  background-color: #6558C3;
  transition: 300ms ;
}

/* ========== BOX ========== */

.box {
  background-color: #fcccd4;
  width: 900px;
  height: 400px;
  margin: 5vh auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 24px;
  position: relative;
}

.box__content h1 {
  margin-top: 150px;
  margin-left: 50px;
  text-align: left;
  font-weight: bold;
}

.box__content p {
  font-size: 18px;
  text-align: left;
  max-width: 330px;
  margin: 20px auto;
  margin-top: 10px;
  margin-left: 50px;
  color: #505050;
}

.box__image-container img {
  position: absolute;
  margin-top: 100px;
  margin-left: 140px;
}

/* ========== RECIPE CARDS ========== */

.recipeCards {
  text-align: center;
  max-width: 1000px;
  margin: 5vh auto;
  height: 60%;
  width: 60%;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  position: relative;
}

.recipeCard__image-container img {
  height: 125px;
  width: 280px;
  border-radius: 12px;
}

.recipeCard__content {
  text-align: justify;
  font-size: 16px;
}

.recipeCard__info {
  text-align: justify;
  font-size: 12px;
  color: #505050;
}

/* ========== MORE ========== */

.more h1 {
  font-size: 24px;
  margin-top: 52px;
  margin-left: 20%;
}

/* ========== CHEF CARDS ========== */

.chefCards {
  max-width: 1000px;
  margin: 5vh auto;
  height: 60%;
  width: 60%;
  margin-top: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  position: relative;
}

.chefCard {
  display: flex;
}

.chefCard__image-container img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.chefCard__content {
  margin-top: 12px;
  margin-left: 8px;
}

.chefCard__content p {
  font-size: 14px;
  color: #505050;
}

/* ========== TEXTS ========== */

.texts h1 {
  margin-top: 36px;
  font-weight: bold;
  max-width: 1000px;
  margin-left: 310px;
}

.texts p {
  font-size: 16px;
  text-align: justify;
  color: #505050;
  max-width: 900px;
  margin-top: 24px;
  margin-left: 310px;
}

/* ========== SPACE ========== */

#space {
  padding-bottom: 20px;
}

/* ========== PAGE RECIPE ========== */

.page {
  padding-bottom: 42px;
}

.recipe__image img {
  width: 900px;
  height: 300px;
  margin-left: 310px;
  margin-top: 24px;
  border-radius: 12px;
}

#title {
  text-align: center;
  margin-top: 32px;
}

#author {
  text-align: center;
  color: #505050;
  margin-bottom: 50px;
}

.block {
  margin-left: 310px;
}

.title {
  margin-top: 24px;
  margin-bottom: 24px;
}

.titleButton {
  align-items: baseline;
}

/* ========== INGREDIENTS ========== */

#ingredients .titleButton {
  max-width: 205px;
  height: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

#ingredients h4 {
  font-size: 12px;
  color: #505050;
  font-weight: bold;
}

#ingredients .description {
  font-size: 20px;
  line-height: 40px;
}

/* ========== PREPARATION ========== */

#preparation .titleButton {
  width: 375px;
  height: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

#preparation h4 {
  font-size: 12px;
  color: #505050;
  font-weight: bold;
}

/* ========== INFORMATION ========== */

#information .titleButton {
  width: 514px;
  height: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

#information h4 {
  font-size: 12px;
  color: #505050;
  font-weight: bold;
}

h4:hover {
  cursor: pointer;
}

/* ========== DESCRIPTION ========== */

.description {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
  color: #505050;
  width: 900px;
}

.description.hidden {
  display: none;
}

/* ========== PAGINATION ========== */

.pagination {
  margin-top: 24px;
  font-weight: 500;
  text-align: center;
}

.pagination a,
.pagination span {
  color: #111111;
  text-decoration: none;
  margin-right: 8px;
}

.pagination a:hover {
  filter: brightness(0.6);
}

.pagination a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #111111;
  position: absolute;
  left: 0;
  bottom: -4px;
}

.pagination a:hover::after {
  content: "";
  width: 100%;
  transition: width 500ms ease-in-out 200ms;
}

/* ========== FOOTER ========== */

.msg footer {
  background-color: #dad8d8;
  top: 32px;
  position: relative;
  bottom: 0;
  width: 100%;
  color: #505050;
}

.msg p {
  text-align: center;
  padding: 15px;
}
