<div class="item">
  <div>Imagem da Receita</div>
    <div>
      <input
      type="url"
      name="image"
      placeholder="http://"
      >
    </div>
</div>

<div class="item">
  <div>Chef</div>
  <div>
    <select name="chef">
      {% for chef in chefOptions %}
        <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %} selected {% endif %}>
          {{chef.name}}
        </option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="item">
  <div>Nome da Receita</div>
  <div>
    <input
    type="text"
    name="title"
    placeholder="Digite o nome da receita secreta"
    >
  </div>
</div>

<div id="fieldIngredients">
  <div>Ingredientes</div>
  <div class="fieldIngredient">
    <input
    type="text"
    name="ingredients[]"
    placeholder="Adicione um ingrediente secreto" />
  </div>
</div>
<button type="button" class="add-ingredient">Adicionar Ingrediente</button>

<div id="fieldPreparations">
  <div>Modo de Preparo</div>
  <div class="fieldPreparation">
    <input
    type="text"
    name="preparation[]"
    placeholder="Adicione um passo" />
  </div>
</div>
<button type="button" class="add-preparation">Adicionar Novo Passo</button>

<div class="item">
  <div>Informações Adicionais</div>
  <div>
    <textarea
    name="information"
    placeholder="Caso tenha observações adicionais a fazer, escreva aqui!"
    cols="30"
    rows="10"></textarea>
  </div>
</div>

<script src="/scriptRecipes.js"></script>